<?xml version="1.0"?>
<model>
 <name>ISAACLAB_TRAIN</name>
 <version>0.1.0</version>
 <sdf version="1.6">model.sdf</sdf>

 <author>
   <name>Alexander Reske</name>
   <email>areske@ethz.ch</email>
 </author>

 <description>
    The ETH LEE H floor with terrace captured with the Leica RTC360
 </description>
</model>
